* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.home{
    background: linear-gradient(to bottom right, #B4E4FF,#FFD4D4);
    height: 90vh;
    width:100vh;
    padding: 0px;
    margin: 100px;
    
    border-radius: 20px;
    
}
 h2{
    position: sticky;
    display: flex;
    top: 25vh;
    padding: 20px;
    margin-left: 20px;
    
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    color: #273759;
}
.header{
    position: sticky;
    display: flex;
    top: 45vh;
    left: 100px;
    width: 100%;
    overflow: auto;
    padding: 20px 0px;
    display:flex ;
    justify-content:center;
    align-items: center;
    z-index: 99;
    background-color:transparent ;
    
}  

nav .naviLink{
    position: relative;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    margin-left: 40px;
}



nav .naviLink::after{
    content:'' ;
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #273759;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .8s;
    
}

nav .naviLink:hover::after{
    transform-origin: left;
    transform: scaleX(1);

}

a:visited{
    color:#212A3E;
}

nav .btnLogin{
    width: 110px;
    height: 50px;
    background: transparent;
    border: 2px solid #212A3E;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Hanken Grotesk', sans-serif;
    color:#212A3E;
    margin-left: 40px;
    transition: .5s;
}
nav .btnLogin:hover{
    background: whitesmoke;
}

