* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}


#notehome{
    max-height: 100vh; 
    min-width: 100vh;
    padding: 1rem 10px;
    margin: 10px 100px 10px 100px;
    
    
  }


.noteheader h1{
    justify-content: center;
    text-align: center;
    color: #0C134F;
}

.noteContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    color: #313982;
    border: 5px rgba(255, 255, 255, 0.845) solid;
    border-radius: 10px;
   
    
}

#notesec {
    min-width: 100vh;
    height: 100vh;
    padding: 20px;
    
    border-radius: 45px;
    
    
}



#search{
    display:inline-block;
    position: relative;
    left: 100px;
    align-items: center;
    color:#0c134f;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
    transition: opacity 0.1s ease;
}
#search:hover{
    opacity: 0.8;
}

.searchbar{

    position: relative;
    left: 500px;
    outline: none;
    width: 50vh;
 
}

.noteList{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto,minmax(300px,1fr));

}

.note{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #0C134F;
    background-color:#FAF3F0 ;
    min-height: 150px;
    margin: 10px 10px 5px;
    border-radius: 10px;
    padding: 1rem;
}

.notedatedel,.notefooter{
    display:flex;
    justify-content: end;
    align-items: center;
}

.notedatedel h6{
    padding: 10px;
}

.notedatedel .icon{
    padding: 10px;
    color: #0C134F;
}



.note.new{
    background-color: aquamarine;
}

textarea{
    border: none;
    resize: none;
    background-color: aquamarine;
}

textarea:focus{
    outline: none;
}

.savebtn{
    background-color: cadetblue;
    border: none;
    border-radius: 0.8rem;
    padding:8px 13px;

}

.addbtn{
    position: relative;
    left: 270px;
    font-size: 80px;
    padding: 20px;
}
